$value = "value";

$result = $ndb->table("table")->where("column", $value); // same for IN
// OR alternative
$result = $ndb->table("table")->where(array("column" => $value));
// column > value
$result = $ndb->table("table")->where("column > ?", $value);
// column != value
$result = $ndb->table("table")->where("column != ?", $value);

// AND
$value = "value";
$value2 = "value2";

$result = $ndb->table("table")->where("column = ? AND column2 = ?", $value, $value2);
// alternative
$result = $ndb->table("table")->where(array("column" => $value,"column2" => $value2));
// alternative
$result = $ndb->table("table")->where("column", $value)->where("column2", $value2);

// OR
$result = $ndb->table("table")->where("column = ? OR column2 = ?", $value, $value2);

// LIKE
$result = $ndb->table("table")->where("column LIKE ?","%$value");