body {
	margin: 1.5em 0;
}

h1 {
	font-size: 1.6em;
	line-height: 2.1em;
	margin: 0;
	font-family: Georgia;

	a, a:hover {
		color: #DDD;
	}
}

nav {
	padding: .5em 0 .3em 0;
}

#content {
	padding-top: 4em;

	#commandList {
		top: 0;
		position: fixed;
		margin-top: 5.5em;
		width: 14%;

		a {
			width: 100%;
			margin-bottom: .5em;
		}
	}
}

.panel {
	font-size: 1.3em;

	.panel-heading {
		font-weight: bold;
	}

	.panel-body {
		padding: 1em;

		code {
			font-size: 1em;
			line-height: 1.5em;
			background: white;
			padding: 0;
		}
	}
}
